body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #37306B;
}

.taskName {
    font-size: 30px;
    color: azure;
}

.app {
    background-color: #9E4784;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 25px;
    padding: 20px;
}

.time {
    text-align: center;
    padding: 20px 0px;
    color: azure;
}

.time #time__value {
    font-size: 50px;
    font-weight: bolder;
}

.form {
    display: flex;
    justify-content: center;
}

input[type="test"] {
    padding: 10px;
    border: solid 1px;
    width: 300px;
}

.idTask {
    font-size: 20px;
}

button, input[type="submit"] {
    border: none;
    background-color: #D27685;
    color: azure;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

#tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    width: 70%;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row-reverse;
    color: azure;
}

.task .completed {
    display: flex;
    align-items: center;
    gap: 10px;
}
